- provide(:title, "Edit user")
- if current_user == @user
  %h1= t('.update')
- else
  %h1 Update User
.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages'
      = f.label :name
      = f.text_field :name
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation
      = f.label :birth_date
      = f.date_field :birth_date
      .checkbox
        = f.label :show_age do
          = f.check_box :show_age
          %span Show Age on Profile
      - if current_user.admin?
        = f.label :role
        = f.select :role, options_for_select(User::ROLES.map{ |r| [r.titleize, r] }, @user.role), {}, class: 'form-control'
      = f.submit "Save changes", class: "btn btn-large btn-primary"
    = gravatar_for @user
    %a{ href: "http://gravatar.com/emails" }
      = t('.change_gravatar')
