%h3=(t'.recent_posts')
%table.table.bordered
  %thead
    %tr
      %th=(t'.blog_title')
      %th=(t'.author')
      %th
      %th
      %th
  %tbody
    - recent_posts.each do |post|
      %tr
        %td= link_to post.title, post
        %td= post.user.name
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path
