%h3= @post.title
%em
  ="Posted by #{@post.user.name} on #{@post.created_at.strftime("%m/%d/%Y")}"
  -if current_user == @post.user
    |
    = link_to 'Edit', edit_post_path(@post)
    |
%p#notice= notice
= simple_format(@post.body)

%h4= pluralize(@post.comments.count, 'comment')
= render 'comments/comment'
- if signed_in?
  = render 'comments/form'
- else
  %em You need to be signed in to post a comment.
  = link_to t('.sign_in'), signin_path
-# = link_to 'Edit', edit_post_path(@post)
