%footer.footer
  %small
    = link_to t('.home'), root_path
  %center
    = copyright
    = t('.sitename')
  .pull_right
    %ul
      %li= link_to t('.about'),   about_path, :class => 'loud'
      %li= link_to t('.contact'), contact_path
