%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to image_tag( 'rblogo.png', class: 'headerlogo'), root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li
            = link_to root_path, title: t('.home') do
              %i.glyphicon.glyphicon-home
          - if signed_in?
            - if !current_user.commenter?
              %li
                = link_to new_post_path, title: t('.new_post') do
                  %i.glyphicon.glyphicon-plus
            %li#fat-menu.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", title: (t'.account')}
                %i.glyphicon.glyphicon-cog
                %b.caret
              %ul.dropdown-menu
                - if current_user.admin?
                  %li.dropdown-header
                    Admin Settings
                  %li= link_to "Manage Users", users_path
                  %li= link_to "Manage Posts", posts_path
                %li.dropdown-header
                  User Settings
                %li= link_to (t'.profile'), current_user
                %li= link_to (t'.settings'), edit_user_path(current_user)
                %li.divider
                %li
                  = link_to (t'.sign_out'), signout_path, method: "delete"
            %li= link_to "Hello, #{current_user.name}", '#'
          -else
            %li= link_to (t'.sign_in'), signin_path
